<!DOCTYPE html>
<html>
<head>
<TMPL_IF DYNAMIC>
<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
<TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
</TMPL_IF>
</TMPL_IF>
<meta charset="utf-8" />
<title>blog.aloodo.org - <TMPL_VAR TITLE></title>
<meta name="viewport" content="width=device-width,
initial-scale=1, maximum-scale=1, minimum-scale=1" />

<link rel="alternate" type="application/rss+xml" title="Aloodo Blog" href="/index.rss"
/>

<TMPL_IF FAVICON>
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>shariff.complete.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<TMPL_IF LOCAL_CSS>
<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
<TMPL_ELSE>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</TMPL_IF>

<link
href='https://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext'
rel='stylesheet' type='text/css'>
<link
href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic,700,400italic&subset=latin,latin-ext'
rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Vollkorn:700' rel='stylesheet' type='text/css'>

<TMPL_UNLESS DYNAMIC>
<TMPL_IF EDITURL>
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
</TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>
<TMPL_LOOP TRAILLOOP>
<TMPL_IF PREVPAGE>
<link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
</TMPL_IF>
<link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
<TMPL_IF NEXTPAGE>
<link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
</TMPL_IF>
</TMPL_LOOP>
</TMPL_UNLESS>

<script src="https://ad.aloodo.com/ad.js" defer></script>

</head>
<body>

	<div id="warning-outer"><div id="tracking-warning-block"><a
	href="https://www.aloodo.org/protection/"><img
	src="http://zgp.org/targeted-advertising-considered-harmful/i/tach.gif"
	width="100%" alt=""><br>If you see a cheesy
	ad here, you are vulnerable to third-party
	tracking.  Bad web ads don't just annoy you&mdash;they can 
	spread malware and fraud. Click to protect
	yourself and your favorite sites.</a></div></div>

<h1 id="blogtitle"><a href="/">blog.aloodo.org</a></h1>

<article class="page">

<TMPL_IF OTHERLANGUAGES>
<TMPL_IF HTML5><nav id="otherlanguages"><TMPL_ELSE><div id="otherlanguages"></TMPL_IF>
<ul>
<TMPL_LOOP OTHERLANGUAGES>
<li>
<a href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
<TMPL_IF MASTER>
(master)
<TMPL_ELSE>
&nbsp;(<TMPL_VAR PERCENT>%)
</TMPL_IF>
</li>
</TMPL_LOOP>
</ul>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_UNLESS DYNAMIC>
<TMPL_IF SIDEBAR>
<TMPL_IF HTML5><aside class="sidebar"><TMPL_ELSE><div class="sidebar"></TMPL_IF>
<TMPL_VAR SIDEBAR>
<TMPL_IF HTML5></aside><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>
</TMPL_UNLESS>

<div id="pagebody">

<TMPL_IF HTML5><section<TMPL_ELSE><div</TMPL_IF> id="content" role="main">
<TMPL_IF BASEURL><h1><a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a></h1></TMPL_IF>
<TMPL_VAR CONTENT>

<!-- Only if baseurl to avoid putting an extra date on
individual post pages -->
<TMPL_IF BASEURL><span class="pagedate">
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
<TMPL_IF AUTHOR>&middot;</TMPL_IF>
<TMPL_VAR CTIME>
<a href="<TMPL_VAR PERMALINK>">#</a>
</span>
<div class="shariff" data-lang="en"></div>
</TMPL_IF>

<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

<TMPL_IF ENCLOSURE>
<TMPL_IF HTML5><section id="enclosure"><TMPL_ELSE><div id="enclosure"></TMPL_IF>
<a href="<TMPL_VAR ENCLOSURE>">Download</a>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

</div>

<TMPL_IF HTML5><footer<TMPL_ELSE><div</TMPL_IF> id="footer" class="pagefooter" role="contentinfo">
<TMPL_UNLESS DYNAMIC>
<TMPL_IF HTML5><nav id="pageinfo"><TMPL_ELSE><div id="pageinfo"></TMPL_IF>

<TMPL_VAR TRAILS>

<TMPL_IF TAGS>
<TMPL_IF HTML5><nav class="tags"><TMPL_ELSE><div class="tags"></TMPL_IF>
Tags:
<TMPL_LOOP TAGS>
<TMPL_VAR LINK>
</TMPL_LOOP>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_IF BACKLINKS>
<TMPL_IF HTML5><nav id="backlinks"><TMPL_ELSE><div id="backlinks"></TMPL_IF>
Links:
<TMPL_LOOP BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
<TMPL_IF MORE_BACKLINKS>
<span class="popup">...
<span class="balloon">
<TMPL_LOOP MORE_BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
</TMPL_UNLESS>
<!-- from <TMPL_VAR WIKINAME> -->
<TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF>

<nav id="bottom-nav">
	<a href="//www.aloodo.org">Aloodo home</a>
	&middot;
	<a href="/index.rss"><img
	style="width: 1em; height: 1em; vertical-align: baseline"
	src="//aloodo.org/images/feed.svg"
        alt="RSS"></a>
	&middot;
	<a href="//www.aloodo.org/privacy/">privacy</a>
	&middot;
	<a style="display: none;" id="tracking-warning-inline"
	href="//www.aloodo.org/protection/">3rd-party tracking detected</a>

	<span id="tracking-safety">Third-party tracking
	not&nbsp;detected</span>

	<a target="_blank" href="//www.aloodo.org/test/">(test)</a>
</nav>

<script type="text/javascript" defer>
function fixTitle () {
	var t = document.getElementById('blogtitle').firstChild;
	var m = document.getElementById('content');

	if (t.offsetWidth > m.offsetWidth) {
		var ts = parseInt(window.getComputedStyle(t)['font-size']);
		var n = (ts * m.offsetWidth) / t.offsetWidth;
		t.style.fontSize = n + 'px';
	}
}
window.addEventListener('load', fixTitle, false);
</script>
<script type="text/javascript" src="/shariff.complete.js"></script>
</body>
</html>
